:root {
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-background: #2f303a;
  --second-text-color: #ffffff;
  --section-team-color: #f5f4fa;
}

/* Убираем маркировку ссылок */
ul {
  list-style-type: none;
}
/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none;
}
/* Убираем курсив у адреса */
address {
  font-style: normal;
}
body {
  font-family: var(--text-font);
  color: var(--text-color);
}
/* ========== HEADER ========== */
.logotype {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logotype:focus,
.logotype:hover {
  color: var(--accent-color);
}
.logo-part-one {
  color: var(--accent-color);
}
.navigation-list-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.navigation-list-link.current {
  color: var(--accent-color);
}
.mail-link-header,
.tel-link-header {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mail-link-header:hover,
.mail-link-header:focus {
  color: var(--accent-color);
}
.tel-link-header:hover,
.tel-link-header:focus {
  color: var(--accent-color);
}
/* ========== END HEADER ========== */
/* ========== HERO ========== */
.hero {
  background-color: var(--accent-background);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
}
.modal-btn :hover,
.modal-btn :focus {
  color: var(--accent-color);
}
/* ========== END HERO ========== */

/* ========== BENEFITS ========== */
.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* ========== END BENEFITS  ========== */

/* ========== TEAM  ========== */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team {
  background-color: var(--section-team-color);
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ==========  AND TEAM  ========== */
/* ==========  PORTFOLIO  ========== */
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}
.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
/* ==========  AND PORTFOLIO  ========== */
/* ==========  FOOTER  ========== */
.footer {
  background-color: var(--accent-background);
}
.logotype-footer {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.logotype-footer:focus,
.logotype-footer:hover {
  color: var(--accent-color);
}

.contact-footer-item a:hover,
.contact-footer-item a:focus {
  color: var(--accent-color);
}
.map-link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.mail-link-footer,
.phone-link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ==========  AND FOOTER  ========== */ ;
